## **Model Inference**

#### **1. Import Libraries**

In [37]:
# Import Library
import pandas as pd
import numpy as np
import pickle
import json

#### **2. Load Model**

In [38]:
# Load model and related files
with open('kmeans_model.pkl', 'rb') as model_file:
    km = pickle.load(model_file)

with open('scaler.pkl', 'rb') as minmax_file:
    scaler = pickle.load(minmax_file)

with open('pca.pkl', 'rb') as pca_file:
    pca = pickle.load(pca_file)

with open('num_cols.json', 'r') as num_std_file:
    num = json.load(num_std_file)

with open('cat_cols_encoded.json', 'r') as cat_std_file:
    cat = json.load(cat_std_file)

#### **3. Input Inference Data**

In [39]:
# Create a dictionary with the data
data = {'CUST_ID': [1234],
        'BALANCE': [6300],
        'BALANCE_FREQUENCY': [0.89],
        'PURCHASES': [1200],
        'ONEOFF_PURCHASES': [800],
        'INSTALLMENTS_PURCHASES': [400],
        'CASH_ADVANCE': [300],
        'PURCHASES_FREQUENCY': [0.6],
        'ONEOFF_PURCHASES_FREQUENCY': [0.4],
        'PURCHASES_INSTALLMENTS_FREQUENCY': [0.2],
        'CASH_ADVANCE_FREQUENCY': [0.1],
        'CASH_ADVANCE_TRX': [1],
        'PURCHASES_TRX': [12],
        'CREDIT_LIMIT': [3000],
        'PAYMENTS': [2800],
        'MINIMUM_PAYMENTS': [1000],
        'PRC_FULL_PAYMENT': [0.3],
        'TENURE': [8]}

# Create the DataFrame
df_inf = pd.DataFrame(data)

# Print the DataFrame
df_inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,1234,6300,0.89,1200,800,400,300,0.6,0.4,0.2,0.1,1,12,3000,2800,1000,0.3,8

#### **4. Preprocess the Input Data**

##### **a. Data Splitting**

In [40]:
# Split between numerical and categorical column
df_inf_num = df_inf[num]
df_inf_num

,BALANCE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,6300,1200,800,400,300,1,12,3000,2800,1000,0.3,8

##### **b. Scaling**

In [41]:
# Feature scaling
df_inf_scaled = scaler.transform(df_inf_num)
df_inf_scaled

array([[0.80393365, 0.27457661, 0.34463744, 0.20650277, 0.06827057,
        0.0625    , 0.18461538, 0.14728682, 0.43659836, 0.37699905,
        0.4499991 , 0.33333333]])

##### **c. PCA**

In [42]:
# Dimensionality reduction using PCA
data_inf_scaled_pca = pca.transform(df_inf_scaled)
data_inf_scaled_pca

array([[0.23259825, 0.18478749, 0.12351823, 0.05341199, 0.13475721,
        0.71802667, 0.12697316]])

#### **5. Cluster Prediction**

In [43]:
# Predict cluster
cluster_df_inf = km.predict(data_inf_scaled_pca)

if cluster_df_inf == 0:
    cluster_df_inf = 'Credit-Reliant Users'
elif cluster_df_inf == 1:
    cluster_df_inf = 'Minimalist Users'
elif cluster_df_inf == 2:
    cluster_df_inf = 'High Rollers Users'
elif cluster_df_inf == 3:
    cluster_df_inf = 'Financially Disciplined Users'
    
# Show result
print('Cluster:', cluster_df_inf)

Cluster: Minimalist Users

In [44]:
# Predict Cluster
predict = km.predict(data_inf_scaled_pca)

# Show result
print(f"Predicted cluster: {predict[0]}")

Predicted cluster: 1

#### **6. Kesimpulan**

Berdasarkan hasil prediksi model KMeans, pelanggan ini termasuk dalam Cluster 1 yaitu Minimalist Users. Ini dapat diinterpretasikan bahwa pelanggan ini menunjukkan karakteristik pengguna kartu kredit yang minimalis. Pengguna dalam cluster ini cenderung menggunakan kartu kredit mereka dengan cara yang sangat hati-hati dan terbatas.

Hal ini menunjukkan keberhasilan prediksi cluster customer's berdasarkan model.